/* PHASE 11: Icons */
[class*="icon-"] {
  background-image: url("../images/sprite.png");
  background-size: 25px 250px;
  display: inline-block;
  width: 25px;
  height: 25px;
}

[class*="icon-big"] {
  overflow: hidden;
  padding-top: 20px;
  height: 0;
}

.icon-big-comment {
  background-position: 0px 0px;
}

.icon-big-reblog {
  background-position: 0px -100px;
}

.icon-big-favorite {
  background-position: 0px -50px;
}

.icon-big-comment:hover {
  background-position: 0px -25px;
}

.icon-big-reblog:hover {
  background-position: 0px -125px;
}

.icon-big-favorite:hover {
  background-position: 0px -75px;
}

.icon-small-wall {
  background-position: 0px -225px;
}

.icon-small-friends {
  background-position: 0px -150px;
}

.icon-small-about {
  background-position: 0px -175px;
}

.icon-small-photos {
  background-position: 0px -200px;
}
